body {
  /* overflow:hidden; */
  height:100vh;
  width:100vw;
  color: black;
}
.sidebar {
    height: calc(100vh - 66px);
    width: 100vw;
    color: white;
    background-color: rgb(139, 122, 122);
    padding-top: 10px;
  }
  .card-img-overlay {
    background-color: rgba(#000, 0.4);
  }
#city-data {
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 66px);

}
  .card {
    height: 150px;
    width: 100%;
    margin-bottom: 0.10 rem;
  }
  .card-img {
    object-fit: cover;
    object-position: 50% 50%; /* positioned top left of the content box */
    height: 100%;
  }

  .card-body {
    /* width: 100%; */
    margin: 0 auto;
    padding: 0.05rem;    
  }
  .card-body h6 {
    margin-bottom: 0;

  }

header {
    text-align: center;
    background-color: black;
    color:white;
    padding: 5px;
}


/* Style the search box inside the navigation bar */
.searchBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.labelCity {
width: 100%;

  }
