body {
  overflow:hidden;
  height:100vh;
  width:100vw;
  color: black;
}
.sidebar {
    height: 100vh;
    width: 20%;
    color: white;
    background-color: rgb(100, 88, 88);
    padding-top: 60px;
  }

header {
    text-align: center;
    background-color: black;
    color:white;
    padding: 5px;
}


/* Style the search box inside the navigation bar */
.searchBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.labelCity {
width: 100%;

  }